body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.header {
  background-color: #061931;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 7px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.title-section h1 {
  /* font-size: 2.5em; */
  margin: 0;
  font-family: 'Rock Salt'; 
  font-style: oblique;
  font-weight: 400;
  font-size: 56px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F5F5F5;
}

.title-section p {
  margin: 0;
  font-family: 'Satisfy';
  font-style: oblique;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F5F5F5;
}

.cta-button button {
  background-color: white;
  color: #061931;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: none; /* Remove default border */
  border-radius: 12px; /* Rounded edges */
}

.cta-button button span {
  margin-left: 10px;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.appn-short-title {
  font-family: 'Rock Salt', cursive;
  font-style: oblique;
  font-weight: 150;
  font-size: 36px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F5F5F5;
}

.appn-caption {
  font-family: 'Satisfy', cursive;
  font-style: oblique;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F5F5F5;
}

footer {
  background-color: #061931;
  color: white;
  /* text-align: center; */
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

footer ul li {
  margin: 0 15px;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

footer .text-color-secondary {
  color: #bbb;
}

footer .typography-body-sm {
  font-size: 0.875em;
}

footer #copyright-div{
  margin-left: 0.9rem;
  margin-top: .25rem;
}

/* Base page tabs */

.tabs-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 0 20px;
  box-sizing: border-box;
}

.tabs-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.tabs-nav li {
  margin: 0 15px;
}

.tab-button {
  text-decoration: none;
  color: #C0C0C0; /* Light gray color */
  padding: 10px 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
  position: relative;
}

.tab-button:hover,
.tab-button:focus {
  color: white;
}

.tab-icon {
  margin-right: 8px;
  width: 24px; /* Adjust icon size as needed */
  height: 24px;
}

.tab-button::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #FFD700; /* Yellow color */
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.tab-button:hover::after,
.tab-button:focus::after {
  width: 100%;
}


/* Dashboard Home page */

h1.about-header {
  /* font-family:   "montserrat-regular", sans-serif; */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
  font-style: oblique;
  color: #31B6C7;
  position: relative;
  padding-bottom: 1.6rem;
  text-align: center;
}

h1.about-cricket-header{
  line-height: 1.324;
  font-size: 3.2rem;
}

h1.about-numbers-header{
  font-size: 2.1rem;
  line-height: 1.324;
}

.about-cricket [class*="col-"] {
  width: 100% !important;
  float: none !important;
  clear: both !important;
  margin-left: 0;
  margin-right: 0;
}

h1.about-header::before {
  display: block;
  content: "";
  height: 2px;
  width: 70px;
  background-color: #31B6C7;
  position: absolute;
  left: 40%;
  bottom: 0;
}

p.describe {
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 1.2rem;
  line-height: 1.857;
  color: #838383;
  margin-bottom: 0.5rem;
}

.about-intro {
  padding-bottom: 1.6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}


.flex-div{
  display: flex;
}


.col-one {
  flex: 4;
  padding: 10px;
  /* background-color: #f4f4f4; Optional: to distinguish the columns */
}

.col-two {
  flex: 8;
  padding: 10px;
}



