{% extends "dashboardBase.html" %}

{% block title %}Dashboard Home{% endblock %}

{% block content %}
<div >
    <div class="flex-div">
        <div class="col-one">
            <h1 class="about-header about-cricket-header">Cricket</h1>
        </div>
        <div class="col-two">
            <p class="describe">
                Wikipedia defines Cricket as a <i>'bat-and-ball'</i> game that is played between two teams of eleven players. 
                Funnily, it is a <i>bat-vs-ball</i> game in its essence, isn't it?
                Batsmen look to hit the ball and run, Bowlers look to hit the wickets.
                <i>The English Elite</i> that created the game in the 16th century made it that - <i>for the Elite</i>.
                And it remained a sport for the elite for centuries. Then the English decided to play it in the Commonwealth nations, 
                where it grew as a 'Sport played to beat the <i>"cruel British,"</i> at their own game'.
                Lo and behold, a couple of centuries later, we are playing a sport where the 
                batsmen look to hit the ball outside the ropes and Bowlers look to evade the hitting range.
            </p>
            <p class="describe">
                <i><b>T20 Cricket</b></i>
            </p>
        </div>                       
      
    </div>

    <div class="flex-div">
      <div class="col-one">
          <h1 class="about-header about-cricket-header">Numbers</h1>
      </div>
      <div class="col-two">
          <p class="describe">
            Numbers - The one thing that's always intrigued mankind and have consumed our thoughts since eternity. 
            Our fascination with Numbers and their behavior led us to Math; 
            Math led us to Computers and Computers led us to Programming and Software.
            And today, we aim to control the very behaviour of numbers.
          </p>
          <p class="describe">
            <i><b>Machine Learning</b></i> 
          </p>
      </div>                       
      
    </div>

    <div class="flex-div about-numbers-cricket">
      <div class="col-one">
          <h1 class="about-header about-numbers-header">Numbers in Cricket</h1>
      </div>
      <div class="col-two">
          <p class="describe">
            Cricket is the best place for a statistician to sit at, among all the competitive sports. 
            It is filled with <i>numbers</i> - Runs, Wickets, Overs, Fours, Sixes, and there on...
            Playing with Stats in cricket is as fun as playing the game. 
            And that is where we come in. To have some fun with the numbers of the game.  
          </p>
          <p class="describe">
            <i><b>The Cover Drive Zone</b></i> 
          </p>
      </div>                       
      
    </div>
</div>
{% endblock %}