<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Cover Drive Zone</title>
    <link rel="stylesheet" href="static/css/app.css">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <div class="logo">
                <img src="static/css/images/logo-circle.png" alt="The Cover Drive Zone" width="120" height="120">
            </div>
            <div class="title-section">
                <h1>The Cover Drive Zone</h1>
                <p>Studying a funny Game...</p>
            </div>
            <div class="cta-button">
                <button onclick="window.location.href='dashboard/home'">
                    Let's go 
                    <span>&#8594;</span>
                </button>
            </div>
        </div>
    </header>
    <main style="margin:7px;">
        <img src="static/css/images/cover.png" alt="Cricket Players" 
             class="main-image">
    </main>

</body>



</html>







